html, body{
    margin: 0;
    padding: 0;
    background: #0C4C7B;
}

.main-header{
    width: 100%;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f0f0f0;
    border: 1px solid black;
}

.main-header h1{
    margin-left: 20px;
    color: brown;
}

.login{
    list-style: none;
    text-align: right;
    padding-right: 20px;
    margin-right: 5px;
    color: fuchsia;
}

.nav{
    color: red;
    font-size: 5em;
}

.login li{
    display: inline-block;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

aside{
    float: right;
}

section h2{
    text-align: center
}

section{
    border: 1px solid;
    margin-bottom: 3%;
}

.last-topic-contain{
    margin-top: 20em;
}

section hr{
    width: 80%;
}

li a{
    color: black;
    text-decoration: none;
}

li a:hover{
    color: orange;
}

.disscusion-box{
    float: right;
    margin-top: 3px;
    height: 18em;
    width: 30em;
    border: 1px solid;
}

.all-themes{
    height: 300px;
}

.ul-container{
    border : none;
}

.strong{
    float: left;
    margin-left: 15%;
    padding-bottom: 15px;
}

.strong h3:hover{
    color: black;
}
